<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h2>Category <%= category.title%></h2>
    <h5><%= category._id %></h5>
    <h5>Created at: <%= category.createdAtFormatted %></h5>
    <h5>Updated at: <%= category.updatedAtFormatted %></h5>
    <h3>Do you really want to delete this category?</h3>
    <form action="" method="post">
      <input type="hidden" name="category" value="<%= category._id %>" />
      <button>Delete</button>
    </form>
  </body>
</html>
